body{
    padding:0;
    margin: 0;
    font-family: 'Montserrat', sans-serif
}

a {
    text-decoration: none;
    outline: none;
}

.header{
    width: 100%;
    height: 650px;
    background: #2062E2 url(img/square.png);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
}
.logo{
    margin-top: 24px;
    margin-left: 34px;
}
.prog{
    height:450px;
    position: relative;
    z-index: 1;
/*    top: -320px;*/
    display: block;
    margin: 0 auto ;

}
h1{
    margin-bottom: 0;
    margin-top: 66px;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
}

h2{
    font-size: 22px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
    color: #FFFFFF;
}

.progress{
    position: relative;
    z-index: 1;
    top: 0px;
    display: block;
    margin: 0 auto ;
    width: 65%;
    margin-top: -300px;
}

.square{
    position: absolute;
}

.main {
    margin-top: 300px;
}

@media screen and (max-width: 1600px) {
    .main {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1400px) {

    .progress{
        width: 75%;
    }

    .main {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .main {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        margin-top: -30px;
    }
}





.a{
    z-index: 0;
     width: 100%;
     height: 100%;
     padding: 150px 0 100px;
}
.a-1 {
    background-color: #2062E2;
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0 100%);
}
.a-2{
    background-color: #F8FAFE;
}
.a-3{
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    top: 65px;
    width: 80%;
    height: 47px;
    padding: 30px 0 20px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 0 30px #c3c3c3;
}
p{
    margin: 0;
}
.p{
     text-align: center;
     color: #ffffff;
     font-size: 30px;
     font-weight: 700;
     margin-bottom: 50px;
}
.p-1{
    color: #fff;
}
.p-2{
    color: #2062E2;
}
.p-3{
    color: #173B80;
    font-size: 24px;
    vertical-align:center;

}
.bl{
    margin: 0 auto;
    width:752px;
}

.block{
    display: flex;
     align-items: center;
     width: 752px;
     height: 112px;
     border-radius: 20px;
     background: #fff;

     margin-bottom: 20px;
}

.one{
    background: #fff;
}
.two{
    background: #2062E2;
}

.p2{
    font-size: 17px;
    padding-right: 50px;
}
.p2-1{
    color: #173B80;
}
.p2-2{
    color: #fff;
}
.p3{
    color: #173B80;
    padding-right:10px;
    font-size: 17px;
}
.simg{
    padding:30px;
    float: left;
}

.order {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    width: 431px;
    height: 95px;
    border-radius: 12px;

    background: rgba(32, 98, 226, 0.1);
    font-weight: 600;
    font-size: 25px;
    color: #2062E2;

    transition: .2s;
}

.order:hover {
    width: 500px;
    background: #2062E2;
    color: #fff;;
}

/* in Developing
===============================*/

.inDeveloping {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    background: rgba(32, 98, 226, 0.1);
}

.inDeveloping__title {
    color: #2062E2;
    margin: 0;
    margin-bottom: 3%;
    font-size: 40px;
}

@media screen and (max-width: 1000px) {
    .inDeveloping__title {
        margin-bottom: 5%;
    }
}







